/* this is for you to complete */
li ul {
	color: blue;
}



li>ul ul:last-of-type {
	list-style-type: none;
}

li:first-of-type {
	font-weight: bold;
}

a:link {
	color: green;
}

li a:link {
color: red
}

div:nth-child(2) a:link {
color: purple;
background-color: yellow;
}